:root {
  --primary: #e4e6eb;
  --secondary: #0084ff;
  --bg: #3a3b3c;
}

.App {
  color: #dadde2;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: #242526;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 10%;
}

.loading-div {
  border-radius: 999px;
  width: fit-content;
  padding: 1rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.spinner {
  color: var(--secondary) !important;
}

.bar {
  width: 0;
  height: 3px;
  background-color: #0084ff;
  border-radius: 999px;
  /* animation: progress infinite 3s linear; */
  position: absolute;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading {
  0% {
    opacity: 0.2;
    transform: scale(0.95);
  }
  25% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0.8;
    transform: scale(0.95);
  }
}
